<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="WARN" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <Logger name="com.zaxxer.hikari" level="WARN" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <Logger name="com.ssg" level="DEBUG" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <Logger name="com.ssg.springwebmvcboardv2.mapper" level="TRACE" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <root level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </root>

<!--        추후에 지우기    -->
        <Logger name="jdbc.sqlonly" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="com.ssg.wms.product_stock.mappers.ProductListMapper" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

    </Loggers>

</Configuration>