<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg.wms.inbound.repository.InboundMemberMapper">


<!--    // 입고 요청-->
    <insert id="insertInbound">
        <selectKey order="AFTER" keyProperty="inboundId" resultType="long">
            SELECT LAST_INSERT_ID()
        </selectKey>

        insert into inbound (
        staff_id,
        member_id
        )
        values (#{title},#{content},#{writer})
    </insert>

    <insert id="insertInboundItem">
        INSERT INTO inbound_item (inbound_id, product_id, amount)
        VALUES (#{inboundId}, #{productId}, #{amount})
    </insert>



<!--    // 입고 요청 목록 조회 (관리자용 - 브랜드, 상태 파라미터로 받아서 검색)-->

<!--    // 입고 요청 단건 조회-->

<!--    // 입고 요청 수정-->

<!--    // 입고 요청 취소-->







</mapper>



